@include components;
@include listForm(100%,140px,3,2,2,1,1);
@media screen and (max-width: 700px) {
    .departments{
        display: flex !important;
        flex-direction: column !important;
        .form-Content{
            div{
                font-size: 14px;
                font-weight: bold;
                color: #00686e;
                >span{
                    
                    cursor: pointer;
                }
                button{
                    @include botao_normal
                }
            }
        }
    }
}
