@include components;
.Container{
    @include form_lists;
    .list_items,
    .Title{
        min-width: 950px !important;
    }
}
.Aberto {
    background-color: var(--bgButtons);
    color: white !important;
}

.Fechado {
    background-color: var(--app_color);
    color: white !important;
}

.Abrir {
    background-color: rgba(40, 167, 69, 0.5);;
    color: white !important;
}


