@mixin formOrders{
    .Principal {
        height: 100%;
        .Header {
            background-color: white;
            @include HeaderFaturacao
        }
        .Content {
            width: 100%;
            height: 475px;
            background-color: var(--appBg);
            overflow: auto;
            position: relative !important;
            @include scroll;
            .drop-up{
                display: none;
                margin-top: 2px;
                width: 100%;
                height: 43px;
                background-color: white;
                border: 2px solid #eeee;
                padding: 2px;
                >button{
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    @include botao_descartar;
                }
            }
            .Botoes {
                margin-top: 2px;
                display: flex;
                width: 100%;
                height: 43px;
                background-color: white;
                border: 2px solid #eeee;
                padding: 2px;
                >div{
                    >button{
                        display: flex;
                        gap: .5rem;
                        display: block; /* Fallback for non-webkit */
                        display: -webkit-box;
                        height: 2.7em; /* Fallback for non-webkit, line-height * 2 */
                        line-height: 1.3em;
                        -webkit-line-clamp: 2; /* if you change this, make sure to change the fallback line-height and height */
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        i{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 15px
                        }
                    }
                }
            }

            .botoes {
                @include botao_normal;
                margin-left: 5px;
            }
            .discartar{
                margin-left: 5px;
                @include botao_descartar
            }

            .Formulario {
                width: 100%;
                height: 650px;
                padding: 10px;
                display: block;
                background-color: rgba(243, 243, 243, 0.765);

                .Form {
                    height: 100%;
                    background-color: white;
                    width: 90%;
                    margin: 0 auto;
                    border-radius: 3px;
                    border: 1px solid var(--borderColor);
                    border-radius: 3px;

                    .HeaderFatura {
                        height: 30%;
                        width: 100%;
                        padding: 5px;
                        border-bottom: 1px solid #eeee;

                        input {
                            border: none;
                            width: 80%;
                            padding: 1px;
                            outline: 0;
                            box-shadow: 0 0 0 0;
                        }

                        .NumeroOrdem {
                            width: 100%;
                            height: 20%;
                            font-size: 20px;
                            color: var(--Titulo);
                        }

                        .Informacao {
                            height: 80%;
                            width: 100%;
                            display: grid;
                            grid-template-columns: repeat(2, 1fr);

                            div:nth-child(1) {
                                @include form-select;
                            }

                            >div:nth-child(2) {
                                .principal{
                                    .Form-control{
                                        @include form-control;
                                    }
                                }
                            }

                        }
                    }

                    .FooterFatura {
                        width: 100% !important;
                        height: 70%;
                        overflow-x: auto;
                        @include scroll;
                    }
                }
            }
        }
    }
}
@media screen and (min-height: 600px)  {
    .Content{
        height: 525px !important;
    }
}

.hidden{
    visibility: visible !important;
}

@media screen and (min-height: 650px)  {
    .Content{
        height: 590px !important;
    }
}
@media screen and (min-height: 670px)  {
    .Content{
        height: 670px !important;
    }
}
@media screen and (max-width: 670px) {

    .Form{
        width: 100% !important;
        .HeaderFatura{
            height: 35% !important;
            .Informacao{
                display: flex !important;
                flex-direction: column !important;
                .list-items{
                    background-color: white;
                    height: 150px !important;
                }
            }
        }
    }
}

@media screen and (max-width: 520px) {
    .HeaderFatura{
        height: 40% !important;
        .Informacao{
            display: flex !important;
            flex-direction: column !important;
            .list-items{
                background-color: white !important;
                height: 170px !important;
            }
        }
    }
    .drop-up{
        display: flex !important;
    }
    .hidden{
        visibility: hidden !important;
    }
    .Botoes{
        z-index: 999;
        position: absolute !important;
        background-color: white !important;
        height: auto !important;
        width: 200px !important;
        display: flex !important;
        flex-direction: column !important;
        padding: unset !important;
        margin-left: unset !important;
        gap: 0.2rem;
        >div{
            width: 100% !important;
            display: flex !important;
            button{
                align-items: flex-start !important;
                justify-content: flex-start !important;
                width: 100% !important;
            }
        }
    }
}
