@mixin input_normal {
    width: 100%;
    box-shadow: 0 0 0 0 !important;
    border: 0 none !important;
    border-bottom: 1px solid var(--borderColor) !important;
    outline: 0 !important;
    padding: 0px 2px 0px 2px !important;
    font-style: arial;
    font-weight: 600 !important;
    border-radius: 0px !important;
}
@mixin InputPrincipal {
    max-width: 100% !important;
    min-width: 75% !important;
    background-color: var(--appBg) !important;
    padding: 2px 5px 2px 5px !important;
    font: 25pt arial !important;
    font-weight: 600 !important;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--borderColor) !important;
    box-shadow: 0 0 0 0;
}