.formulario-pagamento {
    width: 100%;
    height: 93.4%;
    left: 0;
    bottom: 0;
    position: absolute;
    background-color: var(--bgModal);
    z-index: 1060;

    .formulario-content {
        width: 100%;
        display: flex;

        .sessao-one {
            width: 33%;
            height: 93.4vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--bgModal);

            i {
                width: 100%;
                display: flex;
                justify-content: center;
                text-align: center;
                color: white;
            }
        }

        .sessao-two {
            padding: 20px;
            width: 67%;
            height: 93.4vh;
            background-color: var(--appBg);

            .Container {
                padding: 0;
                border: 2px dotted var(--borderColor);
                width: 100%;
                height: 100%;

                .buttons {
                    height: 14%;
                    border-bottom: 2px dotted  var(--borderColor);

                    div {
                        padding: 8px;
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);

                        h2 {
                            font-size: 18px;
                            font-weight: 600;
                        }

                        button {
                            background-color: var(--appBg);
                            padding: 4px;
                            border: 1px solid var(--borderColor);
                            width: 150px;

                            &:hover {
                                background-color: var(--buttons-hover);
                            }
                        }

                        .Validar {
                            background-color: var(--bgButtons);
                            color: var(--text-form);
                            &:hover {
                                background-color: var(--buttons-hover);
                                color: var(--textColor);
                            }
                        }

                        &:nth-child(2) {
                            display: flex;
                            justify-content: center;
                        }

                        &:nth-child(3) {
                            display: flex;
                            justify-content: flex-end;
                        }
                    }
                }

                .container-two {
                    height: 86%;
                    display: grid;
                    grid-template-columns: 33% 67%;

                    .one {
                        border-right: 2px dotted var(--borderColor);

                        .opcao {
                            display: flex;
                            flex-direction: column;
                            padding: 8px;
                            .methodo {
                                background-color: var(--buttons-hover);
                                width: 100%;
                                padding: 18px;
                                margin-bottom: 1px;
                                color: var(--textColor);
                                font-family: Arial, sans-serif;

                                &:hover {
                                    background-color: var(--appBg);
                                    cursor: pointer;
                                }
                            }
                        }
                    }

                    .two {
                        .container-thee {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            flex-direction: column;

                            #totalEncomendaPagamento {
                                width: 100%;
                                height: 35%;
                                border-bottom: 2px dotted var(--borderColor);

                                .TotalEncomendas {
                                    width: 100%;
                                    height: 100%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    font: 25pt arial;
                                    font-weight: 600;
                                    color: var(--bgButtons);

                                }

                                .CalculoTotal {
                                    width: 100%;
                                    height: 100%;
                                    display: flex;
                                    justify-content: space-between;
                                    padding: 20px;

                                    .troco {
                                        color: var(--bgButtons);
                                    }

                                    .TotalCompra {
                                        .Restante {
                                            font-size: 20px;
                                            margin-bottom: 5px;
                                        }
                                    }
                                }
                            }

                            .numeros {
                                width: 100%;
                                height: 65%;
                                padding: 10px;
                                display: grid;
                                grid-template-columns: repeat(2, 1fr);

                                .Numero {
                                    display: grid;
                                    grid-template-columns: repeat(3, 1fr);
                                    border: 1px solid var(--borderColor);

                                    div {
                                        width: 100%;
                                        height: 100%;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        background-color: var(--appBg);
                                        border: 1px solid var(--borderColor);
                                        color: var(--textColor);
                                        font: 25px arial;
                                        font-weight: 600;

                                        &:hover {
                                            background-color: var(--buttons-hover);
                                            cursor: pointer;
                                        }
                                    }
                                }

                                .Valores {
                                    padding: 10px;
                                    display: grid;
                                    grid-template-columns: repeat(3, 1fr);
                                    height: 60%;

                                    div {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        border: 1px solid;
                                        font: 10pt arial;
                                        font-weight: 600;
                                        width: 100%;
                                        background-color: var(--appBg);
                                        border: 1px solid var(--borderColor);
                                        color: var(--textColor);

                                        &:hover {
                                            background-color: var(--buttons-hover);
                                            cursor: pointer;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
