@include components;

.principal {
    .buttons{
        display: flex;
        gap: .4rem;
    }
    .Container {
        background-color: var(--appBg);
        height: 85%;
        padding: 8px;
        width: 100%;
        overflow-y: auto;
        @include scroll;
        .separator {
            width: 100% !important;
            background-color: red;
        }
        .Clientes {
            width: 100%;
            height: 100%;
            overflow-y: auto;
            .clientes {
                background-color: var(--formList);
                cursor: pointer;
                width: 320px;
                height: 90px;
                border: 1px solid var(--borderColor);
                margin: 5px;
                .FormClient{
                    width: 100%;
                    height: 100%;
                    background-color: var(--formList);
                    display: flex;
                    div:nth-child(1) {
                        display: flex;
                        align-items: center;
                        margin: 2px;
                        img {
                            width: 100px;
                            height: 100%;
                        }
                    }

                    div:nth-child(2) {
                        display: flex;
                        flex-direction: column;
                        span {
                            max-width: 26ch;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }
                }

            }
        }
    }
}
