.MenuProdutos{
    width: 100%;
    height: 100%;

    @include components;

    .Container{
        padding: 10px;
        gap: 10px;
        .formProduct{
            width: 324px;
            height: 90px;
            margin: 5px;
            border: 1.5px solid var(--borderColor);
            background-color: var(--formList);
            .image{
                margin-top: 5px;
                margin-left: 5px;
                img{
                    width: 100px;
                    height: 78px;
                }
            }
            &:hover{
                cursor: pointer;
                opacity: 0.8;
            }

            .div_preco_qtd{
                width: 100%;
                margin: 10px;
                font: 10pt arial;
                font-weight: 500;
                div{
                    padding: 2px;
                }
                .nameProduct{
                    max-width: 26ch;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                .preco_qtd{
                    width: 95%;
                }
            }
        }
    }

}
