@include components;
.principal {
    width: 100%;
    height: 100%;
    background-color: var(--formList);
    .Formulario {
        overflow-y: auto;
        @include scroll;
        height: 87%;
        max-height: 91%;
        padding: 0;
        border-top: 2px solid var(--borderColor);
        background-color: var(--appBg);
        .FormNewProd {
            height: 100%;
            .guard_descart {
                background-color: var(--formList);
                .FecharForm {
                    background-color: white;
                    div {
                        @include botao_descartar;
                    }
                }
                .guardar_descartar {
                    display: flex;
                    background-color: var(--formList);
                    button {
                        @include botao_normal;
                    }
                    div {
                        border: 1px solid var(--borderColor);
                        color: var(--textColor);
                        padding: 3px 10px 3px 10px;
                        font: 10pt arial;
                        font-weight: 600;
                        &:hover {
                            border: 1px solid var(--borderColor);
                            cursor: pointer;
                        }
                    }
                }
            }
            @include formulary;
            .Headers{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                height: 60px;
                .drop{
                    position: absolute;
                    left: 10px;
                    width: 80px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    visibility: hidden;
                    @include botao_descartar;
                }
                .movements{
                    display: flex !important;
                    height: 100%;
                    .BotaoMuvementos {
                        border: none;
                        outline: none;
                        width: auto;
                        border-right: 1px solid var(--borderColor);
                        padding-right: 10px;
                        box-sizing: border-box;

                        .view_muvementos {
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;
                            gap: 1rem;
                            width: 100%;
                            height: 100%;
                            padding: 1px;
                            font-size: 11px;
                            &:hover {
                                cursor: pointer;
                                opacity: 0.8;
                            }
                            i {
                                font-size: 22px;
                                margin-top: 5px;
                                padding-left: 3px;
                                color: var(--app_color);
                            }
                            div {
                                color: var(--textColor);
                                .TipoMuv{
                                    word-break: break-word;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    display: -webkit-box;
                                    line-height: 16px; /* fallback */
                                    max-height: 32px; /* fallback */
                                    -webkit-line-clamp: 2; /* number of lines to show */
                                    -webkit-box-orient: vertical;
                                }
                            }
                        }
                    }
                }
            }
            .Main{
                height: 50% !important;
            }
        }
    }
}


@media screen and (max-width: 975px) {
    .Headers{
        position: relative !important;
        .drop{
            visibility: visible !important;
        }

        .movements{
            visibility: hidden !important;
            display: flex !important;
            position: absolute !important;
            flex-direction: column !important;
            top: 50px !important;
            left: 10px !important;
            background-color: white !important;
            height: auto !important;
            max-height: 150px !important;
            overflow-y: auto;
            z-index: 999;
            box-shadow: var(--box-shadow);
            @include scroll;
        }

        .active{
            display: none !important;
            visibility: visible !important;
        }
    }
}
@media screen and (max-width: 1000px) {
    .FormNewProd{
        height: 800px !important;
        .info-basic{
            height: 100% !important;
        }
    }
}
