@include components;
.principal {
    width: 100%;
    height: 100%;
    background-color: var(--formList);
    .Formulario {
        height: 87%;
        max-height: 91%;
        padding: 0;
        border-top: 2px solid var(--borderColor);
        background-color: var(--appBg);
        .FormNewProd {
            height: 100%;
            .guard_descart {
                background-color: var(--formList);
                .FecharForm {
                    background-color: white;
                    div {
                        @include botao_descartar;
                    }
                }
                .guardar_descartar {
                    display: flex;
                    background-color: var(--formList);
                    button {
                        @include botao_normal;
                    }
                    div {
                        border: 1px solid var(--borderColor);
                        color: var(--textColor);
                        padding: 3px 10px 3px 10px;
                        font: 10pt arial;
                        font-weight: 600;
                        &:hover {
                            border: 1px solid var(--borderColor);
                            cursor: pointer;
                        }
                    }
                }
            }
            .form_novo_prod {
                width: 90%;
                margin: 0 auto;
                background-color: white;
                height: 87%;
                margin-top: 1%;
                border: 1px solid var(--borderColor);
                border-radius: 5px;
                .TopProd {
                    height: 180px;
                    width: 100%;
                    .ProdutoBarraCima {
                        width: 100%;
                        height: 40px;
                        display: flex;
                        border-bottom: 1px solid var(--borderColor);
                        box-sizing: border-box;

                        .BotaoMuvementos {
                            border: none;
                            outline: none;
                            width: auto;
                            border-right: 1px solid var(--borderColor);
                            padding-right: 10px;
                            box-sizing: border-box;

                            .view_muvementos {
                                display: flex;
                                align-items: center;
                                justify-content: flex-end;
                                gap: 1rem;
                                width: 100%;
                                height: 100%;
                                padding: 1px;
                                font-size: 11px;
                                &:hover {
                                    cursor: pointer;
                                    opacity: 0.8;
                                }
                                i {
                                    font-size: 22px;
                                    margin-top: 5px;
                                    padding-left: 3px;
                                    color: var(--app_color);
                                }
                                div {
                                    color: var(--textColor);
                                    .TipoMuv{
                                        word-break: break-word;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        display: -webkit-box;
                                        line-height: 16px; /* fallback */
                                        max-height: 32px; /* fallback */
                                        -webkit-line-clamp: 2; /* number of lines to show */
                                        -webkit-box-orient: vertical;
                                    }
                                }
                            }
                        }
                    }
                    .FormContainer {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        width: 100%;
                        .input_nome_tipo {
                            width: 100%;
                            padding: 5px 0px 0px 20px;
                            .nome_artigo_data {
                                @include InputPrincipal;
                            }
                            .ContainerInfo {
                                display: flex;
                                .Titulos {
                                    width: 25%;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-between;
                                    div {
                                        padding: 10px;
                                        display: flex;
                                    }
                                }
                                .InfoContainer {
                                    width: 100%;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-between;
                                    .TipoCategoria {
                                        width: 70%;
                                        display: flex;

                                        .tipoartigo {
                                            display: flex;
                                            width: 40%;
                                            .tipo_artigo {
                                                width: 100%;
                                                margin-right: 8px;
                                                @include input_normal;
                                                padding: 0px !important;
                                            }
                                        }
                                        .DivCategoria {
                                            display: flex;
                                            width: 70%;
                                            .Categoria {
                                                @include input_normal;
                                                width: 60% !important;
                                                padding: 0px !important;
                                            }
                                            button {
                                                margin-left: 1%;
                                                display: flex;
                                                justify-content: space-between;
                                                width: 39%;
                                                i {
                                                    font-size: 15px;
                                                }
                                                @include botao_normal;
                                            }
                                        }
                                    }
                                    .CodeBar {
                                        width: 70%;
                                        left: 0;
                                        input {
                                            @include input_normal;
                                        }
                                    }
                                }
                            }
                        }
                        @include form-img;
                    }
                }
            }
        }
    }
}
