@mixin inputName{
    .items {
        .item{
            display: flex;
            justify-content: flex-start !important;
            width: 100%;
            align-items: center;
        }
        .nameItem{
            justify-content: flex-start;
            text-align: start;
            word-break: break-word;
            overflow: hidden;
            text-overflow: ellipsis;
            outline: 0 !important;
            box-shadow: 0 0 0 0 !important;
            width: 100%;
            display: -webkit-box;
            line-height: 16px;
            max-height: 32px;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            &:focus{
                border: none !important;
                outline: none !important;
                box-shadow: 0,0,0,0 !important;
            }
        }
        div {
            width: 100%;
            text-align: right;
            padding: 3px;
            border-left: 1px solid #eee;
            border-bottom: 1px solid rgb(245, 245, 245);
        }
    }
}
.NewProduct{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;
    @include modal;
    .Modal{
        width: 85%;
        height: 90%;
    }
}
.all{
    position: relative;
    .loading{
        position: absolute;
        background-color: #4c669606;
        width: 100%;
        height: 100%;
        top: 0;
        display: flex;
        justify-content: center;
        z-index: 1080;
        align-items: center;
        font-size: 15px;
        color: var(--bgButtons);
    }
}

.Container{
    height: 56%;
    @include inputName;
    .list-items{
        min-height: 16%;
        max-height: 88%;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        @include scroll;
        overflow-x: hidden;
        transform: rotate(180deg);
        direction: ltr;
        text-align: left;
        @include inputName;
        .items{
            height: 35px;
            erflow: hidden;
            transform: rotate(180deg);
            height: 100%;
            display: flex;
            &:hover{
                background-color: rgba(238, 238, 238, 0.532);
                cursor: pointer;
            }
            >div{
                width: 100% !important;
                display: flex;
                justify-content: flex-end;
                border-bottom: 1px solid #eee;
                align-items: center;

                select, input{
                    width: 100%;
                    padding: 6px;
                    height: 100%;
                    text-align: end;
                    border: none;
                    margin-right: 1px;
                    outline: none;
                    font: 10pt arial;
                    box-sizing: 0 0 0 0 !important;
                    padding-left: 5px;
                    padding-right: 15px;
                    background-color: transparent !important;
                }
                .icone{
                    margin-right: 20px;
                    color: #777;
                    &:hover{
                        opacity: 0.7;
                    }
                }
                i{
                    padding: 5px;
                    color: #777;
                    &:hover{
                        color: rgba(255, 0, 0, 0.544);
                    }
                }
                .edit-product{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: var(--bgButtons);
                    font-size: 17.5px;
                    &:hover{
                        color: var(--bgButtons);
                    }
                }
            }
        }
    }
}


  /////////////////////////////////////////////////////////////
.ResultadoTotal{
    height: 44%;
    overflow-y: auto;
    @include scroll;
    i{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 18px;
        height: 100%;
        &:hover{
            color: white;
        }
    }

    .totals{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 30px 10px 10px;
        .total-items{
            display: flex;
            flex-direction: row;
            span,
            strong{
                width: 50%;
                display: flex;
                justify-content: flex-end;
            }
        }
        .TitlTotals{
            width: 50%;
            text-align: right;
            font-weight: 800;
            >div{
                font: 11pt arial;
                font-weight: 500;
                margin-top: 15px;
                color: rgb(53, 53, 53);
            }
        }

        .Totals{
            width: 50%;
            text-align: right;
            font-weight: 800;
            div{
                font: 11pt arial;
                font-weight: 600;
                font-weight: 600;
                margin-top: 15px;
                color: rgb(53, 53, 53);
            }
        }
    }

}
