
body{
    background-color: white;
}
@include components;
.Header{
    .Header-right{
        >div{
            height: 100%;
            display: flex;
            flex-direction: row !important;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
            >div{
                display: flex;
                flex-direction: row;
                gap: .8rem;
                >i{
                    font-size: 23px;
                    cursor: pointer;
                    &:hover{
                        color: var(--bgButtons);
                    }
                }
            }
        }
    }
}
.Container{
    width: 100%;
    overflow-x: auto;
    .list{
        @include form_lists;
        width: 100%;
        height: 90%;
        min-width: 950px;
        @include state;
    }

    .RodaPe{
        height: 10%;
        display: flex;
        justify-content: flex-end;
        background-color: white;
        min-width: 1000px;
        .Totals{
            width: 35%;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            div{
                display: flex;
                flex-direction: column;
                font: 12pt arial;
                font-weight: 600;
                color: #777;
                span{
                    font: 18pt arial;
                    font-weight: 600;
                    color: #017e84;
                }
            }
        }
    }
}

.text-right{
    text-align: right;
}



